/* css home */
.home {
  display: flex;
  padding: 200px 10% 0;
  align-items: center;
  /* height: 100vh; */
}

.home_left {
  position: relative;
  top: -120px;
}

.home_leftt_box_h1 {
  display: flex;
  align-items: center;
}

.home_left_h1 {
  color: #ff7e00;
  font-family: Poppins;
  font-size: 125px;
  font-weight: 700;
  margin: 0;
}

.home_left_h2 {
  /* color: #2f2f2f; */
  color: var(--body_color);
  font-family: Poppins;
  font-size: 52px;
  font-weight: 700;
  position: relative;
  top: -46px;
}

.home_left_plane_imgs {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.home_left_p {
  color: #909090;
  font-family: Poppins;
  font-size: 22px;
  position: relative;
  top: -20px;
}

.home_left_button {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 19px;
  border-radius: 20px;
  border: none;
  box-shadow: var(--button_shadow);
}

.home_left_button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  transition: 0.5s;
}

.home_right_imgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home_blog_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.home_blog_list_link {
  text-decoration: none;
  color: inherit;
  max-height: 350px;
  width: 100%;
}

.home_blog_list_box {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-height: 350px;
}

.home_blog_list_box_top1 {
  position: relative;
  overflow: hidden;
  max-height: 200px; /* Điều chỉnh chiều cao ảnh */
}

.home_blog_list_box_top1_imgs {
  width: 100%;
  height: auto; /* Đảm bảo chiều cao tự động điều chỉnh theo tỷ lệ */
  object-fit: cover;
  object-position: center;
  max-width: 100%; /* Ảnh không vượt quá kích thước của cha */
}

.home_blog_list_box_bottom {
  padding: 15px;
}

.home_blog_list_box_bottom_title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.home_blog_list_box_bottom_description {
  font-size: 1em;
  color: #555;
}

.home_foot_blog {
  padding: 50px 5%;
}

@media screen and (max-width: 1300px) {
  .home_right_imgs {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* .home_blog_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  } */

  .home_blog_list {
    grid-template-columns: 1fr;
    padding: 0 3%; /* Thêm padding ở cả hai bên khi màn hình nhỏ hơn 768px */
  }

  .home_foot_blog {
    padding: 10px 5%;
  }

  .home_left_h1 {
    font-size: 80px;
    margin-bottom: 16px;
  }

  .home_left_h2 {
    font-size: 42px;
  }

  .home_left_plane_imgs {
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: relative;
    top: -20px;
  }
}
